extends layout

block content
  h1= title
  p Find your product in the following categories.
  if categoryList.length
    div.card-columns
      each category in categoryList
        div.card
          div.card-body
            h5.card-title
              a(href=category.url, class='text-dark') #{category.name}
  else
    p There are no categories yet.
