extends layout

block content
  div(class='container text-center mt-5')
    h1.display-4.mb-4= title
    p.lead.mb-4 Welcome to #[em Andrei's Imaginary Inventory], a place where you can explore a vast array of imaginary tools for your future projects. Powered by MongoDB, NodeJS, and Express, our virtual inventory brings innovation to life.

    h1.display-5.mb-4 Dynamic Content

    p.lead.mb-4 Dive into our imaginative world with !{product_number} virtual products sourced from !{manufacturer_number} visionary manufacturers!
    p.lead.mb-4 Explore and order from our network of !{location_number} virtual locations, seamlessly managed by cutting-edge technology.

