@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

.navbar-light {
  background-color: #e0e0e0;
}

.navbar-nav .nav-link:hover {
  font-weight: bold; 
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.card:hover .card-img-top {
  height: 100%;
  object-fit: contain;
}
